:root{
    --primary:#2F2FA2;
    --secondary:#242582;
    --thirtiary:#FF9398;
    --quad:#553d67;
    --fith:#99738E;
}
body{
    background: linear-gradient(0deg, #f43b47 0%, #453a94 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    /* border: 2px solid; */
    color: white;
    margin-top: 30vh;
    margin-bottom: 20vh;
    height: 50vh;
    width: 40vw;
    justify-content: space-between;
    
}
.container form{
    /* border: 2px solid; */
    height: 50vh;
}
.container form h2{
    margin-left: 10vw;
}

.container form .row{
    justify-content: space-between;
}
.row .col-9{
    margin-top: 1rem;

}