body{
    background: linear-gradient(0deg, #f43b47 0%, #453a94 100%);
    background-repeat: no-repeat;
    color: white;  
}

:root{
    --primary:#2F2FA2;
    --secondary:#242582;
    --thirtiary:#FF9398;
    --quad:#553d67;
    --fith:#99738E;
}
.contact .container .row .logo-text h4{
    color: #fd4902;
}
.contact .container .row{
    align-content: center;
    margin-left: 4rem;
}
.contact .container .row form{
    justify-content: center;
    align-items: center;

}

form .message input{
    height: 25vh;
}
form .message .col-9{
    justify-content: center;

}

form .btn{
    color: white;
    border: 1px solid;
    border-radius: 5rem;
    background-color: #FF9398;

}

@media(max-width: 600px){
    .contact .container .row form .col-9 .form-text{
        font-size: 10px;
    }
    .contact .container .row{
        margin-left: 2rem;
    }

}