body{
    background: linear-gradient(0deg, #f43b47 0%, #453a94 100%);
    background-repeat: no-repeat;
    color: white;   
}

.bodytop .row .col-6{
    margin-top: 3vh;
}
.bodytop .text-center h4 {
    color: #fd4902;
}

.whyUs{
    background-color:  #150127;
    border-radius: 1vh;
    opacity: 80%;
    
}

@media(max-width: 600px){
    .bodytop{
        font-size: 15px;
    }
    .col-6 h5{
        font-size: 17px;
    }
    .row{
        flex-direction: column;
    }
    .row .col-6{
        width: 100%;
    }
}